
a,
a:focus,
a:hover {
  color: #fff;
}



/*
 * Base structure
 */

html,
body {
    margin-top: -10px;
  background-color: white;
  background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
body {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper {
  margin: auto;
  background-color: gray;
  width: 80%;
  height: 100%;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);

}

.content-wrapper {
     width: 80%;
    background-color: gray;
    margin: auto;
    text-align: center;
    margin-top: 50px;

}

.header-wrapper {
    color: white;
    background-color: #333;
}

/*
Menu
*/
.menu {
    align-content: center;
    width: 600px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



.visualization {
    margin: auto;
  

    background: url('../images/makieta.png');
    background-size: 100%/*900px 691px*/;
    width: 900px;
    height: 691px;
}

.bathroom {
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 470px;
    margin-left: 240px;
}
.bedroom1 {
    float: left;
     width: 200px;
    height: 150px;
    margin-top: 470px;
    margin-left: 250px;
}
.bedroom2 {
    float: right;
     width: 200px;
    height: 150px;  
    margin-top: 470px;
    margin-right: 100px;
}

.kitchen {
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 270px;
    margin-left: -100px;

 
}

.livingroom {
   
    float: right;
    
    margin-top: 270px;
    margin-right: -80px;
    
    
}

.kitchenswitch {
    
}
