a,
a:focus,
a:hover {
    color: #fff;
}



/*
 * Base structure
 */

html,
body {
    background-color: white;
    background-attachment: fixed;
    height: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.site-wrapper {
    margin: auto;
    min-height: 100%;

    background-color: gray;
    width: 80%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);

}

.content-wrapper {
    position: relative;

    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;

}

.control-wrapper {
    margin: auto;
    width: 700px;
    margin-top: 50px;

}

.control-table {
    margin: auto;


}

.header-wrapper {
    color: white;
    background-color: #333;
}

/*
Menu
*/
.menu {
    align-content: center;
    width: 600px;
    margin: auto;
}

.chart {
    width: 45%;
}

.databaseTable {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dbTable {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}

.dbTable tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.dbTable thead tr {
    display: block;
}

.dbTable thead {
    background: black;
    color: #fff;
}

.dbTable th,
.dbTable td {
    padding: 5px;
    text-align: left;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



.visualization {
    margin: auto;
    position: relative;

    background: url('../images/makieta.png');
    background-size: 100%
        /*900px 691px*/
    ;
    width: 900px;
    height: 691px;
}

.bathroom {
    position: absolute;
    width: 100px;
    height: 30px;
    float: left;
    top: 460px;
    left: 230px;
}

.bedroom1 {
    position: absolute;
    float: left;
    width: 200px;
    height: 150px;
    margin-top: 470px;
    margin-left: 250px;
}

.pir-sensor {
    position: absolute;
    float: right;
    width: 200px;
    height: 100px;
    top: 490px;
    right: 130px;
}

.kitchen_kettle {
    position: absolute;
    height: 50px;
    width: 50px;
    float: left;
    top: 225px;
    left: 255px;

}

.kitchen_light {
    position: absolute;
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 300px;
    margin-left: 230px;


}

.air {
    position: absolute;
    width: 200px;
    height: 50px;
    float: left;
    top: 510px;
    left: 400px;
}

.livingroom {

    float: right;
    position: absolute;
    margin-top: 270px;
    margin-right: -90px;


}

.temp {
    position: absolute;
    position: relative;
    float: right;
    width: 100px;
    right: 330px;
    top: 340px;
}

.window {
    position: absolute;
    position: relative;
    width: 100px;
    float: right;
    top: 260px;
    right: 20px;



}

.alarm {
    position: absolute;
    position: relative;
    width: 100px;
    float: left;
    top: 340px;
    left: 120px;
}
